# exclude .embl files and .embl.gz files
examples/*.embl
examples/*.embl.gz
t/*-example.embl

# exclude .pyc files
__pycache__/
*.py[cod]

# exclude OS X stores
.DS_Store

# packaging
build/
dist/
*.egg-info

